{% load static %}

<html>
  <title>Omar Hussein's CV</title>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <div class="page-header">
    <h1>CV</h1>
  </div>

  <h1><u><a href="/cv_view/contact_details" style="color:black">Contact Details</a></u></h1>
  <h1><u><a href="/cv_view/personal_profile" style="color:black">Personal Profile</a></u></h1>
  <h1><u><a href="/cv_view/education" style="color:black">Education</a></u></h1>
  <h1><u><a href="/cv_view/work_experience" style="color:black">Work Experience</a></u></h1>
  <h1><u><a href="/cv_view/interests_achievements" style="color:black">Interests and Achievements</a></u></h1>
  <h1><u><a href="/cv_view/refrences" style="color:black">Refrences</a></u></h1>

  <div>
    <h3><i><a href='/'>Go back</a></i></h3>
  </div>

</html>
