{% load static %}

<html>
  <title>Personal Profile</title>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="page-header">
      <h1>Personal Profile</h1>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>

    <div>
      <h2>About Me</h2>
      <p>
        {% for i in me %}
          {{ i.text }}
        {% endfor %}
      </p>
    </div>

    <div>
      <h3><i><a href='/cv_view'>Go back</a></i></h3>
    </div>
  </body>
</html>
